<!-- Button trigger modal -->
<button id="launchModalBtn" type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#modalAddPayment">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="modalAddPayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%=t('payment.add_payment')%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      
    </div>
  </div>
</div>